* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  .container {
    background-image: url(/img/background.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .form-border {
    width: 380px;
    height: 420px;
    background-color: white;
    position: absolute;
    top: 100px;
    left: 470px;
  }
  /* FORM-BORDER */
  .heading-one {
    padding-top: 50px;
    padding-left: 30px;
    font-size: 40px;
    color: blue;
    font-weight: 1000;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  .par-one {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 30px;
    opacity: 0.7;
    padding-top: 2px;
  }
  .heading-two {
    position: absolute;
    top: 50px;
    right: 30px;
    font-size: 40px;
    color: blue;
    font-weight: 1000;
    text-transform: uppercase;
    font-family: sans-serif;
  }
  .par-two {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    right: 30px;
    opacity: 0.7;
    position: absolute;
    top: 108px;
  }
  .one-line {
    width: 200px;
    position: absolute;
    font-size: 70px;
    top: 45px;
    left: 170px;
    color: rgb(162, 162, 230);
  }
  /* CENTRE */
  .ul-item {
    list-style: none;
    opacity: 0.6;
    font-size: 12px;
  }
  .ul-one {
    left: 30px;
    top: 180px;
    position: absolute;
    font-size: 14px;
    font-family: helvetica;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .ul-two {
    left: 140px;
    top: 180px;
    font-family: helvetica;
    font-size: 14px;
    font-weight: bolder;
    position: absolute;
    text-transform: uppercase;
  }
  .ul-three {
    font-size: 14px;
    font-weight: bolder;
    font-family: helvetica;
    text-transform: uppercase;
    left: 255px;
    top: 180px;
    position: absolute;
  }
  .number {
    font-size: 18px;
    font-weight: 550;
    opacity: 1;
    font-family:helvetica;
  }
  /* footer part */
  .ul-list-item {
      list-style: none;
      text-transform: uppercase;
      opacity: 0.6;
    }
  .ul-list-one {
    position: absolute;
    left: 30px;
    top: 246px;
    font-size: 11px;
  }
  .ul-list-two {
    position: absolute;
    left: 30px;
    top: 297px;
    font-size: 12px;
    
  }
  .ul-list-three {
    position: absolute;
    left: 30px;
    top: 357px;
    font-size: 12px;
  }
  .items{
      font-size: 14px;
      font-weight:bolder;
      opacity: 1;
  }
  /* IMAGE */
  .qr-picture{
    position: absolute;
    width: 150px;
    height: 150px;
    bottom: 30px;
    right: 30px;
  }